@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    background-color: hsl(202, 86%, 94%);
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer_box {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 750px;
    border-radius: 30px;
}

.section1 {
    margin: 10px;
    font-family: 'Plus Jakarta Sans';
    src: url(https://fonts.google.com/specimen/Plus+Jakarta+Sans);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h3 {
    font-size: 18px;
    width: 250px;
}

.clear {
    color: hsl(200, 24%, 40%);
    font-size: 12px;
    padding: 10px;
    opacity: 0.8;
    text-decoration: underline;
}

.ilabel {
    margin: 0;
}

.section3 {
    
}

.right_side {
    background-color: hsl(202, 55%, 16%);
    border-radius: 0 30px 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 200px;
    height: 200px;
}

h2 {
    color: #fff;
    text-align: center;
    font-style: 18px;
    font-family: 'Plus Jakarta Sans';
    src: url(https://fonts.google.com/specimen/Plus+Jakarta+Sans);
}

.btext {
    color: hsl(202, 86%, 94%);
    opacity: 0.5;
    text-align: center;
    font-size: 15px;
    width: 400px;
    font-family: 'Plus Jakarta Sans';
    src: url(https://fonts.google.com/specimen/Plus+Jakarta+Sans);
}